body{
    margin: 0;
    padding: 0;
    background-color: #d6e4ee;
}
a{
    color: blue;
    font-size: 10px;
}

#logo{
    width: 50px;
}

#article-cover{
    width: 100%;

}

.article-info{
    color: grey;
}

#main-section-container{
    display: flex;
    width: 80%;
    margin: 15px auto;
    }
    #header-wraper{
        background-color: #fff;
    }
    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 80%;
        margin: auto;
    }

    #logo-search-container{
        display: flex;
    }

   #header input{
        width: 300px;
        margin-left: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
    }

    #article-section{
        width: 70%;
        background-color: #fff;
    }

    
    #article-section div{
        padding: 15px;
    }

    #side-section{
        width: 30%;
        margin-left: 15px;
    }

    #side-section div{
        background-color: #fff;
        padding: 5px 15px 20px 20px;
        margin-bottom: 15px;
    }
    footer{
        background-color: #fff;
        height: 50px;
        display: flex;
        justify-content: center;
    }
    button{
        font-size: 18px;
        padding:    10px 20px;
        color: #0000ff;
        border: 1px solid #0000ff;
        border-radius: 5px;
        background-color: #fff;
    }